extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Willie Capre

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer for project 6

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |Hi, I'm a clinical tech, and I just started doing JavaScript.
            |I was searching the company website and I saw that the company was hiring for entry level.
            |I would like to be part of the team to contribute my knowledge to this friendly environment.
          
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Debugging
          li Data structure
          li Git
          li CSS style
          li Express
          li Good memory
          li Team work
          li Problem solving
          li Patience
          li Creativity

        h6 Contact Info

        //- Add your own contact info
        ul
          li 617-283-6455
          li wilcapre@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://wwww.LinkedIn.com/wilcapre') LinkedIn
        a.button.expanded(href='htpps://GitHub.com/wilcapre') GitHub
        a.button.expanded(href='htpps://Twitter.com/barthel') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  